<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="/Team/lib/jquery-3.3.1.js"></script>
    <link href="/Team/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/Team/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bg {
            background: #F1F3F4;
        }
    </style>
</head>

<body>
    <div class="row bg-info	">
        <div class="col-md-8"><a href="/Team/view/index.html"><img src="/Team/static/img/icon.png"></a></div>
        <div class="col-md-2"><a id="member" href="/Team/view/Backstage.html" class="btn btn-secondary btn-lg active"
                role="button" aria-pressed="true"></a></div>
        <div class="col-md-2"><a id="removemember" href="/Team/view/Backstage.html"
                class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">退出登录</a></div>
    </div>
    <div class="row">
        <div class="list-group col-md-2 bg">
            <div style="height:50px;"></div>
            <a href="/Team/view/Backstage.html" class="list-group-item list-group-item-action">成员信息</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageResume.html" class="list-group-item list-group-item-action">简历</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageAnnouncement.html" class="list-group-item list-group-item-action">通告</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageLife.html" class="list-group-item list-group-item-action">生活</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageProject.html" class="list-group-item list-group-item-action">项目</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageAward.html" class="list-group-item list-group-item-action">获奖</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageHistory.html" class="list-group-item list-group-item-action active">历史</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/Backstagepassword.html" class="list-group-item list-group-item-action">修改密码</a>
            <div style="height:50px;"></div>
        </div>
</body>
<script type="text/javascript">
    var loginmember;

    function loginmember(mId, studentNo, grade, phonenumber, profession, wechat, graduation) {
        this.mId = mId;
        this.studentNo = studentNo;
        this.grade = grade;
        this.phonenumber = phonenumber;
        this.profession = profession;
        this.wechat = wechat;
        this.graduation = graduation;
    }

    /*
     *页面加载发送请求
     */
    window.onload = function () {
        /*
         *返回登录成员信息
         */
        $.ajax({
            url: "/Team/adminmember",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                $("#member").text(data.extend.member.studentNo);
                var info = data.extend.member;
                loginmember = new loginmember(info.mId, info.studentNo, info.grade, info.phonenumber, info.profession, info.wechat, info.graduation);
            },
            error: function () {
                alert("Connection error")
            }
        });
    }

    /*
     *退出登录
     */
    $("#removemember").click(function () {
        $.ajax({
            url: "/Team/exitmember",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.code == 100) {
                    window.location.href = "/Team/view/Login.html";
                }
            },
            error: function () {
                alert("退出失败");
            }
        });
    });

</script>

</html>