<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <script src="/Team/lib/jquery-3.3.1.js"></script>
    <link href="/Team/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/Team/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bg {
            background: #F1F3F4;
        }
    </style>
</head>

<body>
    <!-- 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加项目信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="myform">
                        <div class="form-group">
                            <label for="context" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" cols="60" rows="5" id="context" onblur="checknull(this);"
                                    onfocus="reverse(this);"></textarea>
                                <span id="helpBlock" class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectDate" class="col-sm-2 control-label">项目日期</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="projectDate" placeholder="格式：yyyy-MM-dd">
                                <span id="helpBlock" class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pPirture" class="col-sm-2 control-label">上传照片</label>
                            <div class="col-sm-10">
                                <input type="file" id="pPirture" multiple="multiple">
                                <span id="helpBlock" class="help-block"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="ajaxpost">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="showproject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">查看</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="context" class="col-sm-2 control-label">内容</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" cols="60" rows="5" id="showcontext"
                                            readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="showprojectDate" class="col-sm-2 control-label">项目日期</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="showprojectDate"
                                            readonly="readonly">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tbody id="showimg">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-info	">
        <div class="col-md-8"><a href="/Team/view/index.html"><img src="/Team/static/img/icon.png"></a></div>
        <div class="col-md-2"><a id="member" href="/Team/view/Backstage.html" class="btn btn-secondary btn-lg active"
                role="button" aria-pressed="true"></a></div>
        <div class="col-md-2"><a id="removemember" href="/Team/view/Backstage.html"
                class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">退出登录</a></div>
    </div>
    <div class="row">
        <div class="list-group col-md-2 bg">
            <div style="height:50px;"></div>
            <a href="/Team/view/Backstage.html" class="list-group-item list-group-item-action">成员信息</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageResume.html" class="list-group-item list-group-item-action">简历</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageAnnouncement.html" class="list-group-item list-group-item-action">通告</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageLife.html" class="list-group-item list-group-item-action">生活</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageProject.html" class="list-group-item list-group-item-action active">项目</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/BackstageAward.html" class="list-group-item list-group-item-action">获奖</a>
            <div style="height:50px;"></div>
            <a href="#" class="list-group-item list-group-item-action">历史</a>
            <div style="height:50px;"></div>
            <a href="/Team/view/Backstagepassword.html" class="list-group-item list-group-item-action">修改密码</a>
            <div style="height:50px;"></div>
        </div>
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Id</td>
                        <th>发布者</th>
                        <th>内容</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="projectbody">

                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6" id="page_info_area"></div>
                <div class="col-md-6" id="page_info_nav"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-lg active" id="addproject">
                        添加项目信息
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var loginmember;

    function loginmember(mId, studentNo, grade, phonenumber, profession, wechat, graduation) {
        this.mId = mId;
        this.studentNo = studentNo;
        this.grade = grade;
        this.phonenumber = phonenumber;
        this.profession = profession;
        this.wechat = wechat;
        this.graduation = graduation;
    }
    /*
     *页面加载发送请求
     */
    window.onload = function () {
        /*
         *返回登录成员信息
         */
        $.ajax({
            url: "/Team/adminmember",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                $("#member").text(data.extend.member.studentNo);
                var info = data.extend.member;
                loginmember = new loginmember(info.mId, info.studentNo, info.grade, info.phonenumber, info.profession, info.wechat, info.graduation);
            },
            error: function () {
                alert("Connection error")
            }
        });

        to_page(1);
    }


    /*
     *退出登录
     */
    $("#removemember").click(function () {
        $.ajax({
            url: "/Team/exitmember",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.code == 100) {
                    window.location.href = "/Team/view/Login.html";
                }
            },
            error: function () {
                alert("退出失败");
            }
        });
    });

    /*
     *模态框
     */
    $("#addproject").click(function () {
        $("#myModal").modal({
            backdrop: "static"
        });
    });

    /*
     *分页ajax
     */
    function to_page(pn) {
        /*
         *构建员工和分页
         */
        $.ajax({
            url: "/Team/Project",
            type: "GET",
            data: { pn: pn },
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                build_projects_table(data);
                build_page_info(data);
                build_page_nav(data);
            },
            error: function () {
                alert("Connection error")
            }
        });
    }

    /*
     *构建分页导航信息
     */
    function build_page_info(data) {
        $("#page_info_area").empty();
        $("#page_info_area").append("当前" + data.extend.pageinfo.pageNum + "页  " + "总" + data.extend.pageinfo.pages + "页   " + "总" + data.extend.pageinfo.total + "记录数")

    }

    /*
     *显示分页条
     */
    function build_page_nav(data) {
        $("#page_info_nav").empty();
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append($("<a></a>").append("首页"));
        var prePageLi = $("<li></li>").append($("<a></a>").append("前一页").append("&laquo;"));
        if (data.extend.pageinfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        }
        else {
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(data.extend.pageinfo.pageNum - 1);
            });
        }
        var nextPaegLi = $("<li></li>").append($("<a></a>").append("后一页").append("&raquo;"));
        var lastPageLi = $("<li></li>").append($("<a></a>").append("末页"));
        if (data.extend.pageinfo.hasNextPage == false) {
            nextPaegLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        }
        else {
            nextPaegLi.click(function () {
                to_page(data.extend.pageinfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(data.extend.pageinfo.pages);
            });
        }
        ul.append(firstPageLi).append(prePageLi);
        $.each(data.extend.pageinfo.navigatepageNums, function (index, item) {
            var numLi = $("<li></li>").append($("<a></a>").append(item));
            if (data.extend.pageinfo.pageNum == item) {
                numLi.addClass("active");
            }
            numLi.click(function () {
                to_page(item);
            });
            ul.append(numLi);
        })
        ul.append(nextPaegLi).append(lastPageLi);
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_info_nav");
    }

    /*
     *构建项目数据
     */
    function build_projects_table(data) {
        $("#projectbody").empty();
        var projects = data.extend.pageinfo.list;
        $.each(projects, function (index, item) {
            var projectId = $("<td></td>").append(item.projectId);
            var mId = $("<td></td>").append(item.mId);
            var context = $("<td></td>").append(item.message);
            var projectDate = $("<td></td>").append(item.projectDate);
            var showbtn = $("<button></button>").addClass("btn btn-primary btn-lg active").append("查看").append($("<span></span").addClass("glyphicon glyphicon-pencil"));
            showbtn.click(function () {
                console.log(item.projectId);
                $.ajax({
                    url: "/Team/project",
                    type: "GET",
                    dataType: "JSON",
                    data: { projectId: item.projectId },
                    success: function (data) {
                        console.log(data);
                        $("#showimg").empty();
                        $("#showproject").modal({
                            backdrop: "static"
                        });
                        $("#showcontext").val(data.extend.project.message);
                        $("#showprojectDate").val(data.extend.project.projectDate);
                        var imgs = data.extend.project.pPirture;
                        $.each(imgs, function (index, item) {
                            $("<tr></tr>").append($("<td></td>").append($("<img src=/Team/" + item.pirturePath +" "+"style=width:100px;height:100px" +">"))).appendTo("#showimg");
                        });
                    },
                    error: function () {
                        alert("Connection error");
                    }
                });
            });
            var delbtn = $("<button></button>").addClass("btn btn-danger btn-lg active").append("删除").append($("<span></span").addClass("glyphicon glyphicon-pencil"));
            delbtn.click(function () {
                console.log(item.projectId);
                $.ajax({
                    url: "/Team/Project",
                    type: "POST",
                    dataType: "JSON",
                    data: { _method: "DELETE", projectId: item.projectId },
                    success: function (data) {
                        if (data.code == 100) {
                            alert("删除成功");
                            window.location.reload();
                        }
                    },
                    error: function (data) {
                        alert("Connection error");
                    }
                });
            });
            $("<tr></tr>").append(projectId).append(mId).append(context).append(projectDate).append($("<td></td>").append(showbtn).append(delbtn)).appendTo($("#projectbody"));
        });
    }
    /*
     *构建分页导航信息
     */
    function build_page_info(data) {
        $("#page_info_area").empty();
        $("#page_info_area").append("当前" + data.extend.pageinfo.pageNum + "页  " + "总" + data.extend.pageinfo.pages + "页   " + "总" + data.extend.pageinfo.total + "记录数")

    }

    /*
     *文本框非空判断
     */
    function checknull(node) {
        var value = $(node).val();
        if (value == "") {
            $(node).parent().addClass("has-error");
            $(node).next("span").text("不可以为空");
            return false;
        }
        return true;
    }

    /*
     *用户重新输入移除校验状态
     */
    function reverse(node) {
        $(node).parent().removeClass("has-error");
        $(node).next("span").text("");
    }

    /*
     *ajax提交项目信息
     */
    $("#ajaxpost").click(function () {
        var context = $("#context").val();
        var Path = document.getElementById("pPirture").files;
        var formdata = new FormData();
        if (Path.length > 9 || Path.length == 0) {
            alert("照片至少1张，最多9张");
            return false;
        }
        else {
            for (var i = 0; i < Path.length; i++) {
                if (Path[i].size > 5242880) {
                    alert("图片大小不能超过5m");
                    return false;
                }
                else {
                    formdata.append("Path", Path[i]);
                }
            }
        }
        formdata.append("message", context);
        formdata.append("projectDate", $("#projectDate").val());
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/Team/Project",
            data: formdata,
            async: false,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data.code == 200) {
                    alert(data.extend.errorFields.message);
                }
                else if (data.code == 100) {
                    alert("提交成功");
                    window.location.reload();
                }
            },
            error: function () {
                alert("Connection error");
            }
        });
    })
</script>

</html>