<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.AnnouncementMapper">
    <resultMap id="BaseResultMap" type="com.team.bean.Announcement">
      <id column="announcement_id" jdbcType="INTEGER" property="announcementId"/>
      <result column="message" jdbcType="VARCHAR" property="message"/>
      <result column="announcement_time" jdbcType="TIMESTAMP" property="announcementTime"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.team.bean.Announcement">
    insert into tbl_announcement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="announcementId != null">
        announcement_id,
      </if>
      <if test="mId != null">
        m_id,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="announcementTime != null">
        announcement_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="announcementId != null">
        #{announcementId,jdbcType=INTEGER},
      </if>
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="announcementTime != null">
        #{announcementTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectnew" resultMap="BaseResultMap">
     SELECT * FROM (SELECT * FROM tbl_announcement ORDER BY announcement_time DESC) AS a LIMIT 1
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from tbl_announcement 
  </select>
  <delete id="deleteAnnouncement" parameterType="java.lang.Integer">
    delete from tbl_announcement where announcement_id=#{announcementId,jdbcType=INTEGER}
  </delete>
 </mapper>