<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.APirtureMapper">
  <resultMap id="BaseResultMap" type="com.team.bean.APirture">
    <id column="ap_id" jdbcType="INTEGER" property="apId" />
    <result column="award_id" jdbcType="INTEGER" property="awardId" />
    <result column="pirture_path" jdbcType="VARCHAR" property="pirturePath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ap_id, award_id, pirture_path
  </sql>
  <select id="selectByExample" parameterType="com.team.bean.APirtureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_award_pirture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_award_pirture
    where ap_id = #{apId,jdbcType=INTEGER}
  </select>
  <select id="selectImgPath" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from tbl_award_pirture
    where award_id=#{awardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_award_pirture
    where ap_id = #{apId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByAwardId" parameterType="java.lang.Integer">
    delete from tbl_award_pirture
    where award_id=#{awardId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.team.bean.APirtureExample">
    delete from tbl_award_pirture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.team.bean.APirture">
    insert into tbl_award_pirture (ap_id, award_id, pirture_path
      )
    values (#{apId,jdbcType=INTEGER}, #{awardId,jdbcType=INTEGER}, #{pirturePath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.team.bean.APirture">
    insert into tbl_award_pirture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apId != null">
        ap_id,
      </if>
      <if test="awardId != null">
        award_id,
      </if>
      <if test="pirturePath != null">
        pirture_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apId != null">
        #{apId,jdbcType=INTEGER},
      </if>
      <if test="awardId != null">
        #{awardId,jdbcType=INTEGER},
      </if>
      <if test="pirturePath != null">
        #{pirturePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.team.bean.APirtureExample" resultType="java.lang.Long">
    select count(*) from tbl_award_pirture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_award_pirture
    <set>
      <if test="record.apId != null">
        ap_id = #{record.apId,jdbcType=INTEGER},
      </if>
      <if test="record.awardId != null">
        award_id = #{record.awardId,jdbcType=INTEGER},
      </if>
      <if test="record.pirturePath != null">
        pirture_path = #{record.pirturePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_award_pirture
    set ap_id = #{record.apId,jdbcType=INTEGER},
      award_id = #{record.awardId,jdbcType=INTEGER},
      pirture_path = #{record.pirturePath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.bean.APirture">
    update tbl_award_pirture
    <set>
      <if test="awardId != null">
        award_id = #{awardId,jdbcType=INTEGER},
      </if>
      <if test="pirturePath != null">
        pirture_path = #{pirturePath,jdbcType=VARCHAR},
      </if>
    </set>
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.bean.APirture">
    update tbl_award_pirture
    set award_id = #{awardId,jdbcType=INTEGER},
      pirture_path = #{pirturePath,jdbcType=VARCHAR}
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
</mapper>